.thumbnail {
    height: 250px;
    position:relative;
    overflow:hidden;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(255, 255, 255, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#222 !important;
    z-index:2;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
	font-family: Arial, Helvetica, sans-serif;
	color: #003399;
}


td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

.headmenu{
color:#FFFFFF;
text-decoration: none;
text-align:center;
}

.headmenu a:hover{
color:#003399;
background-color:#FFFFFF;
}

.headmenu a {
color:#FFFFFF;
text-decoration: none;
text-align:center;
}

.menutitle{
cursor:pointer;
margin-bottom: 5px;
background-color:#EBEBEB;
color:#003399;
width:140px;
padding:2px;
text-decoration: none;
text-align:center;
font-weight:bold;
border:1px solid #003399;
}

.menutitle a {
text-decoration: none;
color:#003399;
}

.menutitle a:hover{
color:#EBEBEB;
background-color:#003399;
}

.submenu{
cursor:pointer;
margin-bottom: 0px;
background-color:#EBEBEB;
color:#003399;
width:140px;
padding:0px;
text-decoration: none;
text-align:left;
border:0px solid #003399;
}

.submenu a {
text-decoration: none;
color:#003399;
}

.justify {
text-align: justify;
}
